/* You can add global styles to this file, and also import other style files */
.dropdown-content li > span {
    display: flex !important;
    color: black !important;
}
.color {
    width: 52px;
    height: 26px;
    margin-left: auto;
    border: 1px solid black;
}
input.select-dropdown:not(.color) {

}